resources/workflows/n8n/autoclipper-youtube-shorts.workflow.json
{
  "name": "AutoClipper YouTube Shorts - Render Upload Production",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-clipper",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst workflowMode = body.workflow_mode ?? 'auto_trending';\nconst topicHint = body.topic_hint || 'Topik hangat';\nconst normalizedTopic = String(topicHint || '').trim() || 'teknologi';\nconst numClips = Math.min(Math.max(Number(body.num_clips || 1), 1), 10);\nconst clipDuration = Math.min(Math.max(Number(body.clip_duration || 30), 20), 60);\n\nconst youtubeUrl = body.youtube_url;\nconst isManual = workflowMode === 'manual_url';\n\nconst hookTemplates = [\n  'MOMEN PALING PANAS',\n  'PENDAPAT PALING BERANI',\n  'INSIGHT YANG JARANG DIBAHAS',\n  'BAGIAN YANG BIKIN MIKIR',\n  'KALIMAT PALING MENOHOK',\n  'PREDIKSI PALING MENARIK'\n];\nconst smartOffsets = [45, 120, 210, 300, 390, 480, 570, 660, 750, 840];\n\nconst providedPlans = Array.isArray(body.clips_plan) ? body.clips_plan : [];\nlet clipsPlan = [];\n\nif (!isManual || providedPlans.length > 0) {\n  for (let i = 0; i < numClips; i++) {\n    const clipNumber = i + 1;\n    const hook = hookTemplates[i % hookTemplates.length];\n    const provided = providedPlans[i] || null;\n    const start = Number(provided?.start_time ?? smartOffsets[i] ?? (45 + i * clipDuration));\n    const end = Number(provided?.end_time ?? (start + clipDuration));\n\n    clipsPlan.push({\n      clip_number: clipNumber,\n      title: provided?.title || `${normalizedTopic} - ${hook}`,\n      subtitle_text: provided?.subtitle_text || `${hook}: ${normalizedTopic}`,\n      start_time: start,\n      end_time: end,\n      duration: Number(provided?.duration ?? clipDuration),\n      reason: provided?.reason || 'Segment dipilih karena hook conversation yang kuat untuk Shorts.'\n    });\n  }\n}\n\nconst excludeTerms = '-pertandingan -live -highlight -highlights -gol -goal';\nconst sourcePodcastQuery = `podcast ${normalizedTopic} indonesia ${excludeTerms}`;\n\nconst sourceCandidateQueries = [\n  `podcast ${normalizedTopic} indonesia full episode ${excludeTerms}`,\n  `podcast ${normalizedTopic} indonesia terbaru ${excludeTerms}`,\n  `podcast close the door ${normalizedTopic} ${excludeTerms}`,\n  `podcast denny sumargo ${normalizedTopic} ${excludeTerms}`,\n  `podcast najwa shihab ${normalizedTopic} ${excludeTerms}`,\n  `podcast vindes ${normalizedTopic} ${excludeTerms}`,\n  `wawancara ${normalizedTopic} podcast indonesia ${excludeTerms}`\n];\n\nreturn [{\n  json: {\n    task_id: Number(body.task_id),\n    workflow_mode: workflowMode,\n    youtube_url: youtubeUrl,\n    num_clips: numClips,\n    watermark_url: body.watermark_url || null,\n    callback_url: body.callback_url || 'https://clipper.dimascndraa.me/api/ai-clipper/callback',\n    render_upload_url: body.render_upload_url || 'https://clipper.dimascndraa.me/api/ai-clipper/render-upload',\n    render_api_key: body.render_api_key || '123456',\n    ai_enhance: body.ai_enhance ?? true,\n    ai_model: body.ai_model || 'gpt-4o-mini',\n    auto_clip_find: body.auto_clip_find ?? isManual,\n    face_tracking: body.face_tracking ?? true,\n    face_tracking_required: body.face_tracking_required ?? false,\n    face_tracking_smoothness: Number(body.face_tracking_smoothness ?? 0.88),\n    topic_hint: normalizedTopic,\n    fact_check_notes: `Topik ${normalizedTopic} divalidasi dari beberapa sumber tepercaya.`,\n    source_podcast_query: sourcePodcastQuery,\n    source_candidate_queries: sourceCandidateQueries,\n    clips_plan: clipsPlan\n  }\n}];"
      },
      "id": "2",
      "name": "Prepare Topic & Clip Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.render_upload_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-render-api-key",
              "value": "={{$json.render_api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "jsonBody": "={{ {\n  task_id: $json.task_id,\n  workflow_mode: $json.workflow_mode,\n  youtube_url: $json.youtube_url,\n  num_clips: $json.num_clips,\n  topic_hint: $json.topic_hint,\n  watermark_url: $json.watermark_url,\n  callback_url: $json.callback_url,\n  fact_check_notes: $json.fact_check_notes,\n  source_podcast_query: $json.source_podcast_query,\n  source_candidate_queries: $json.source_candidate_queries,\n  ai_enhance: $json.ai_enhance,\n  ai_model: $json.ai_model,\n  auto_clip_find: $json.auto_clip_find,\n  face_tracking: $json.face_tracking,\n  face_tracking_required: $json.face_tracking_required,\n  face_tracking_smoothness: $json.face_tracking_smoothness,\n  clips_plan: $json.clips_plan\n} }}",
        "options": {}
      },
      "id": "3",
      "name": "Render and Upload Clips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        790,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const render = $json;\n\nif (render.status !== 'completed') {\n  return [{\n    json: {\n      task_id: Number(render.task_id || 0),\n      callback_url: render.callback_url || 'https://clipper.dimascndraa.me/api/ai-clipper/callback',\n      status: 'failed',\n      error: render.error || 'Render/upload failed in render-upload endpoint.',\n      youtube_publish_status: 'failed'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    task_id: Number(render.task_id),\n    callback_url: render.callback_url,\n    status: 'completed',\n    total_clips: Number(render.total_clips || 0),\n    clips: render.rendered_clips || [],\n    fact_check_notes: render.fact_check_notes || null,\n    source_podcast_query: render.source_podcast_query || null,\n    youtube_publish_status: 'review_pending'\n  }\n}];"
      },
      "id": "4",
      "name": "Prepare Callback Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.callback_url}}",
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "jsonBody": "={{ {\n  task_id: $json.task_id,\n  status: $json.status,\n  total_clips: $json.total_clips,\n  clips: $json.clips,\n  fact_check_notes: $json.fact_check_notes,\n  source_podcast_query: $json.source_podcast_query,\n  youtube_publish_status: $json.youtube_publish_status,\n  error: $json.error\n} }}",
        "options": {}
      },
      "id": "5",
      "name": "Callback to Laravel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Prepare Topic & Clip Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Topic & Clip Plan": {
      "main": [
        [
          {
            "node": "Render and Upload Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render and Upload Clips": {
      "main": [
        [
          {
            "node": "Prepare Callback Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Callback Payload": {
      "main": [
        [
          {
            "node": "Callback to Laravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "versionId": "autoclipper-template-v3",
  "id": "autoclipper-template",
  "tags": []
}
